<div class="header">
  <p>Confirmar datos del pago</p>
</div>
<div class="transaction">
  <div class="input-group1" style="position: relative; top: -1.5em">
    <label for="bank-trans" style="position: relative; top: -1.5em">Banco a transferir</label>
    <div class="select-bank">
      <select name="banks" id="banks-option" class="banks-opt" formControlName="bankId" class="form-control">
        <option value="" selected="selected">&nbsp;&nbsp;&nbsp;Seleccione el banco</option>
        <option >&nbsp;&nbsp;&nbsp;adfsdfsdfsd</option>
      </select>
    </div>
  </div>
  <div class="input-group1">
    <label for="">Número de telefono</label>
    <p class="info-receptor">0424-2947902</p>
  </div>
  <div class="input-group1">
    <label for="">Monto a debitar</label>
    <p class="info-receptor">Bs 100</p>
  </div>
  <div class="input-group1">
    <label for="">Descripción</label>
    <p class="info-receptor">Cobro de productos Pacheco S.A</p>
  </div>
  <div class="select-button">
    <div class="section">
      <button class="button2">REGRESAR</button>
      <button class="button1" routerLink="/login-ec">ACEPTAR</button>
    </div>
  </div>
</div>
