<div class="contenedor">
  <img src="assets/img/logo/logo_banesco.png" class="logo-banesco" alt="...">
  <div class="card-login">
    <p>Ingrese sus datos para continuar</p>
    <div class="card-body">
      <div class="input-group">
        <input type="text" placeholder="&nbsp;&nbsp;&nbsp;Usuario">
      </div>
      <div class="input-group">
        <input type="text" placeholder="&nbsp;&nbsp;&nbsp;Contraseña">
      </div>
      <div class="select-button">
        <div class="section">
          <button class="button2">CANCELAR</button>
          <button class="button1" routerLink="/login-ec">ACEPTAR</button>
        </div>
      </div>
    </div>
  </div>
</div>
